.labor-main-child,
.labor-main-item {
  position: absolute;
  height: 43.05%;
  width: 100.53%;
  top: 50.67%;
  right: -0.53%;
  bottom: -1.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.labor-main-item {
  height: 32.03%;
  width: 69.34%;
  top: 57.46%;
  right: 15.04%;
  bottom: 2.51%;
  left: 15.62%;
  object-fit: cover;
}
.labor-main-inner {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 27.96%;
  left: 0;
  overflow-y: auto;
}
.timer_labor_main {
  position: absolute;
  height: 5.17%;
  width: 30.4%;
  top: 56.66%;
  left: 36.8%;
  letter-spacing: -0.2px;
  display: inline-block;
}
.labor-main {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: var(--font-poppins);
}
.empty_box_labor{
  height: 60px;
}
.alert_labor{
  position: absolute;
  width: 80%;
  top: 80%;
  left: 10%;
  height: 5%;
}
.labor_help{
  display: flex;
  position : absolute;
  top:  57.8%;
  left: 70%;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 3px solid black;
  font-weight: bold;
  border-radius: 50%;
}